In [1]:
import pandas as pd

In [7]:
df  =  pd.read_csv('tweets_scooter_emoji_1.csv',on_bad_lines='skip',delimiter='|',names=[str(x) for x in range(132)])

C:\Users\PorallaPradhyumna\AppData\Local\Temp\ipykernel_41020\1777877039.py:1: DtypeWarning: Columns (113,118) have mixed types. Specify dtype option on import or set low_memory=False.
  df  =  pd.read_csv('tweets_scooter_emoji_1.csv',on_bad_lines='skip',delimiter='|',names=[str(x) for x in range(132)])

In [8]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,122,123,124,125,126,127,128,129,130,131
0,Tue Feb 26 20:06:17 +0000 2019,@,NaN,NaN,$,1100487235831382016,@,NaN,NaN,$,...,NaN,NaN,$,1,@,NaN,NaN,$,"1\n',,,,,,,,,,,,,,,,,,,,,",NaN
1,Sat Dec 22 21:20:30 +0000 2018,@,NaN,NaN,$,1076588311030968321,@,NaN,NaN,$,...,NaN,NaN,$,17,@,NaN,NaN,$,"46\n',,,,,,,,,,,,,,,,,,,,,,,",NaN
2,Thu Oct 11 03:35:46 +0000 2018,@,NaN,NaN,$,1050228438680752132,@,NaN,NaN,$,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Wed Jul 03 21:11:40 +0000 2019,@,NaN,NaN,$,1146526948002291712,@,NaN,NaN,$,...,NaN,NaN,$,11,@,NaN,NaN,$,"63\n',,,,,,,,,,,,,,,,,,,,,,,",NaN
4,Thu Oct 11 03:36:11 +0000 2018,@,NaN,NaN,$,1050228540451553280,@,NaN,NaN,$,...,NaN,NaN,$,1,@,NaN,NaN,$,"0\n',,,,,,,,,,,,,,,,,,,,,,,",NaN

In [1]:
from EmojiForms import EmojiForms

In [2]:
url="https://unicode.org/emoji/charts/full-emoji-modifiers.html"
ef  = EmojiForms()

In [3]:
ef.Download_Emojis(url,parent="Data")

In [6]:
df = ef.Count_Frequency_Emojis(df)

In [7]:
df

        0
üõ¥   19755
üö≤    1367
‚Äô    3495
‚úà      69
Ô∏è    1913
..    ...
√Æ       1
üïπ       2
üÉè       2
üé±       3
‚Äã       1

[1251 rows x 1 columns]

In [9]:
df = ef.Extract_Emoji(df)

In [10]:
df

,data_0,data_1,data_2,data_3,data_4,data_5,data_6,data_7,data_8,data_9,...,data_122,data_123,data_124,data_125,data_126,data_127,data_128,data_129,data_130,data_131
0,Tue Feb 26 20:06:17 +0000 2019,@,0,0,$,1100487235831382016,@,0,0,$,...,0,0,$,1,@,0,0,$,"1\n',,,,,,,,,,,,,,,,,,,,,",0
1,Sat Dec 22 21:20:30 +0000 2018,@,0,0,$,1076588311030968321,@,0,0,$,...,0,0,$,17,@,0,0,$,"46\n',,,,,,,,,,,,,,,,,,,,,,,",0
2,Thu Oct 11 03:35:46 +0000 2018,@,0,0,$,1050228438680752132,@,0,0,$,...,0,0,0,0,0,0,0,0,0,0
3,Wed Jul 03 21:11:40 +0000 2019,@,0,0,$,1146526948002291712,@,0,0,$,...,0,0,$,11,@,0,0,$,"63\n',,,,,,,,,,,,,,,,,,,,,,,",0
4,Thu Oct 11 03:36:11 +0000 2018,@,0,0,$,1050228540451553280,@,0,0,$,...,0,0,$,1,@,0,0,$,"0\n',,,,,,,,,,,,,,,,,,,,,,,",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11910,Fri Nov 29 10:08:28 +0000 2019,@,0,0,$,1200355839514697730,@,0,0,$,...,0,0,$,7,@,0,0,$,"21\n"""""",,,,,,,,,,,,,,,,,,,",0
11911,Tue Nov 19 14:51:23 +0000 2019,@,0,0,$,1196803159714336769,@,0,0,$,...,0,0,$,12,@,0,0,$,"470\n',,,,,,,,,,,,,,,,,,,,,,",0
11912,Mon Dec 09 17:43:20 +0000 2019|@|||$|120409418...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11913,Mon Dec 09 17:50:13 +0000 2019,@,0,0,$,1204095924026236929,@,0,0,$,...,0,0,0,0,0,0,0,0,0,0
11914,Wed Nov 06 04:38:16 +0000 2019,@,0,0,$,1191937819918385152,@,0,0,$,...,0,0,$,4,@,0,0,$,"16\n',,,,,,,,,,,,,,,,,,,,,,",0

In [3]:
list_filename = ef.Get_Make_Files("Data")

In [11]:
df = ef.get_emojis_and_unicode()

In [12]:
df

     Emoji                    Unicode                                  Hex
0       üëãüèª  b'\\U0001f44b\\U0001f3fb'  b'\xf0\x9f\x91\x8b\xf0\x9f\x8f\xbb'
1       üëãüèº  b'\\U0001f44b\\U0001f3fc'  b'\xf0\x9f\x91\x8b\xf0\x9f\x8f\xbc'
2       üëãüèΩ  b'\\U0001f44b\\U0001f3fd'  b'\xf0\x9f\x91\x8b\xf0\x9f\x8f\xbd'
3       üëãüèæ  b'\\U0001f44b\\U0001f3fe'  b'\xf0\x9f\x91\x8b\xf0\x9f\x8f\xbe'
4       üëãüèø  b'\\U0001f44b\\U0001f3ff'  b'\xf0\x9f\x91\x8b\xf0\x9f\x8f\xbf'
...    ...                        ...                                  ...
1785     üèª             b'\\U0001f3fb'                  b'\xf0\x9f\x8f\xbb'
1786     üèº             b'\\U0001f3fc'                  b'\xf0\x9f\x8f\xbc'
1787     üèΩ             b'\\U0001f3fd'                  b'\xf0\x9f\x8f\xbd'
1788     üèæ             b'\\U0001f3fe'                  b'\xf0\x9f\x8f\xbe'
1789     üèø             b'\\U0001f3ff'                  b'\xf0\x9f\x8f\xbf'

[1790 rows x 3 columns]

In [18]:
import sys
with open("requirements.txt") as f:
    lines = f.readlines()

print(lines[0].split("=")[0])
lines[0].split("=")[0] in sys.modules

beautifulsoup4

False

In [20]:
import importlib.util

pac = lines[0].split("=")[0]
spec = importlib.util.find_spec(pac)
print(spec)

None